.page {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Ensures the flex items are stacked vertically */
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 100%; /* Set to full width by default */
  max-width: 650px; /* Maximum width for larger screens */
  /* height: 200px; */
  outline: dashed 1px black;
  padding: 25px;
  font-size: medium;
}

p {
  /* Center horizontally */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

/* Media query for desktop screens */
@media (min-width: 768px) { /* Adjust this value if needed */
  .container {
    width: 50%; /* Half-width on desktop */
    margin: 15px auto; /* Center the container */
  }
}